body{
    margin: 0;
}
.top{
    
    line-height: 2;
    height: 300px;
    padding: 1em;
}
mid{
    padding: 1em;
}
.surname{
    color: #f98404;
    
}
h1{
    font-family: 'Concert One', cursive,serif;
    font-size: 3.5em;
    margin: 20px auto 10px 20px;
}
h2{
    font-family: 'Concert One', cursive,serif;
    font-size: 2em;
    margin: 20px auto 10px 20px;

}
h3{
    font-family: 'Concert One', cursive,serif;
    font-size: 1.5em;
    margin: 20px auto 10px 20px;
    font-weight: normal;
    color: grey;

}

.icons{
    width: 3%;
    margin-left: 20px;
    
}
.intro{
    display: inline-block; 
    margin: 0; 
    font-weight:normal; 
    color: grey; 
    font-size: 20px;
    position: relative;
    bottom: 10px;
}
.skills-row{
    width: 156px;
    height: 101px;
    display: inline-block;
}
.skill-icon{
    width: 4em;

}
.skill-names{ 
    margin: 0; 
    font-weight: bold; 
    color: black; 
    font-size: 20px;
    

}
.list{
    display: inline-block;
    list-style-type: none;

}