body{
    margin: 0;
}
.top{
    
    line-height: 2;
    height: 18.75em;
    padding: 1em;
}
mid{
    padding: 1em;
}
.surname{
    color: #f98404;
    
}
h1{
    font-family: 'Concert One', cursive,serif;
    font-size: 3.5em;
    margin: 1.25 auto 0.625em 1.25em;
}
h2{
    font-family: 'Concert One', cursive,serif;
    font-size: 2em;
    margin: 1.25em auto 1.25em 1.25em;

}
h3{
    font-family: 'Concert One', cursive,serif;
    font-size: 1.5em;
    margin: 1.25em auto 1.25em 1.25em;
    font-weight: normal;
    color: grey;

}

.icons{
    width: 4em;
    margin-left: 2em;
    margin-right: 1em;
    
}
.intro{
    display: inline-block; 
    margin: 0; 
    font-weight:normal; 
    color:#f98404 ; 
    font-size: 1.25em;
    position: relative;
    bottom: 1em;
}

.skill-icon{
    width: 4em;

}
.skill-names{ 
    margin: 0; 
    font-weight: bold; 
    color: black; 
    font-size: 1.25em;
    

}
.list{
    display: inline-block;
    list-style-type: none;

}